asgiref==3.7.2
beautifulsoup4==4.12.2
dj-database-url==2.1.0
Django==5.0.1
django-bootstrap4==23.4
django-stdimage==6.0.2
gunicorn==21.2.0
mysqlclient==2.2.1
packaging==23.2
pillow==10.2.0
psycopg2-binary==2.9.9
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.9.0
whitenoise==6.6.0
